<mat-sidenav-container class="sidenav-container admin-theme">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar style="text-align: center">ADMIN</mat-toolbar>
    <mat-nav-list class="list-menu">
      <a mat-list-item routerLink="dashboard"
        ><i class="material-icons"> dashboard </i>&nbsp;Dashboard</a
      >
      <a mat-list-item routerLink="chart"><i class="material-icons">
        bar_chart
        </i>&nbsp;Chart</a>
      <a mat-list-item routerLink="user-manager"><i class="material-icons">
        assignment_ind
        </i>&nbsp;User Manager</a>
      <hr />
      <a mat-list-item routerLink=""><i class="material-icons">
        exit_to_app
        </i>&nbsp;Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white !important;">
    <div style="display: flex">
      <button
        color="primary"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)"
        style="align-self: center;"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-header style="flex: 1"></app-header>
    </div>
    <!-- Add Content Here -->
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
