<div class="rating" style="display: flex;flex-direction:row-reverse;justify-content: flex-end">
    <input type="radio" [name]="inputName" value="5" [checked]="rating==='Tuyệt vời!'" /><label (click)='onClick("Tuyệt vời!")' title="Tuyệt vời!">Tuyệt vời!</label>
    <input type="radio" [name]="inputName" value="4" [checked]="rating==='Rất tốt'" /><label (click)='onClick("Rất tốt")' title="Rất tốt">Rất tốt</label>
    <input type="radio" [name]="inputName" value="3" [checked]="rating==='Tốt'" /><label (click)='onClick("Tốt")' title="Tốt">Tốt</label>
    <input type="radio" [name]="inputName" value="2" [checked]="rating==='Cần cải thiện'" /><label (click)='onClick("Cần cải thiện")' title="Cần cải thiện nhiều">Cần cải thiện nhiều</label>
    <input type="radio" [name]="inputName" value="1" [checked]="rating==='Rất tệ'" /><label (click)='onClick("Rất tệ")' title="Rất tệ">Rất tệ</label>
</div>