:host {
  .starrating > input {
    display: none;
  } /* Remove radio buttons */

  .starrating {
    label:before {
      content: "\f005"; /* Star */
      margin: 2px;
      font-size: 2em;
      font-family: FontAwesome;
      display: inline-block;
    }
  }

  .starrating {
    label {
        margin-top: 5px;
      color: #222222; /* Start color when not clicked */
    }
  }

  .starrating {
    input:checked ~ label {
      color: #2196f3;
    } /* Set yellow color when star checked */
  }

  .starrating {
    input:hover ~ label {
      color: #2196f3;
    } /* Set yellow color when star hover */
  }
}
