:host {
  .tool-bar {
    display: grid;
    grid-template-columns: 100% 60px;
    width: 100%;
    height: 55px;
  }

  .content {
    display: flex;
    width: 100%;
    height: 80.5vh;

    .app-get-info {
      width: 100%;
      height: 100%;
      flex: 2.5;
    }

    .preview-cv {
      padding-right: 0px;
      padding-left: 0px;
      flex: 7;
    }

    .template-selecttion {
      padding: 5px;
      flex: 0.5;
    }
  }
}
