<div
  class="docs-component-viewer-nav-content"
  id="docs-component-viewer-nav-content"
>
  <div>
    <a
      mat-button
      color="primary"
      aria-label="Angular Material"
      class="docs-button"
      style="width: 100%;text-decoration: none;"
    >
      Primary
    </a>
    <a
      mat-button
      color="primary"
      aria-label="Angular Material"
      class="docs-button"
      style="width: 100%;text-decoration: none;"
    >
      Primary
    </a>
  </div>
</div>
<div class="docs-component-viewer-nav-content-1"></div>
