<div class="search-company" style="background: #e9e9e9;">
  <div class="container">
    <div class="search-form-all-company form-row" id="">
      <h1 class="slogan">
        {{ recruiters.length }} Company Reviews for You
        <span class="in-title">
          What are people saying about your company? Find out now!
        </span>
      </h1>
      <div class="search-text form-row">
        <form
          class="form-group"
          (ngSubmit)="onSearch(searchCompanyForm)"
          #searchCompanyForm="ngForm"
          action=""
          id="search-form"
          style="flex-grow: 7"
        >
          <div class="search-icon">
            <i class="fas fa-search"></i>
          </div>
          <div class="input-text">
            <input
              type="email"
              class="form-control"
              id="input-job"
              placeholder="Enter Company Name"
              [(ngModel)]="searchText"
              name="searchText"
            />
          </div>
          <button
            type="submit"
            class="btn text-light"
            style="font-size: 1em; width: 100%; background-color: #3f51b5;"
          >
            SEARCH
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="companies-alljob container" style="margin-top: 10px">
    <h1 style="text-align: center;font-size: 21px;text-transform: uppercase">
      Companies Hiring Now
    </h1>
    <div
      style="display: flex; flex-direction: row; justify-content: space-around;flex-wrap: wrap"
      *ngFor="let item of recruiters"
    >
      <app-company-frame [company]="item"></app-company-frame>
    </div>
  </div>
</div>
