<section id="Contact">
  <h3>Contact Infomation</h3>
  <div class="item">
    <mat-form-field>
      <input
        matInput
        placeholder="Your name"
        [disabled]="true"
        [value]="getInfoCandidate.full_name"
      />
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="getInfoResume.title" />
    </mat-form-field>
  </div>

  <div class="item" id="Summary">
    <mat-form-field>
      <textarea
        matInput
        placeholder="Summary"
        [(ngModel)]="getInfoResume.summary"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input
        matInput
        placeholder="Phone number"
        [value]="getInfoCandidate.phone"
      />
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input
        matInput
        placeholder="Email"
        [disabled]="true"
        [value]="getInfoCandidate.email"
      />
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input
        matInput
        placeholder="Github URL"
        [(ngModel)]="getInfoCandidate.github"
      />
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input
        matInput
        placeholder="LinkedIn URL"
        [(ngModel)]="getInfoCandidate.linkedin"
      />
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input
        matInput
        placeholder="Personal Webpage"
        [(ngModel)]="getInfoResume.website"
      />
    </mat-form-field>
  </div>
</section>
<br />

<section id="Experience">
  <h3>Experience</h3>
  <div class="item-ul-li">
    <ul>
      <li *ngFor="let item of getInfoResume.experience; let i = index">
        <div>
          <a (click)="onModifyExperience(item)">{{ item.company_name }}</a>
          <p>{{ item.title }}</p>
        </div>
        <button
          class="btn btn-danger float-right"
          (click)="onDeleteExperience(i)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="item">
    <button
      class="btn btn-outline-primary"
      (click)="onAddExperience()"
      style="display: flex"
    >
      <i class="material-icons"> add </i>Experience
    </button>
    <!-- <app-modal-resume-expeience
      (saveClick)="onSaveExperience($event)"
    ></app-modal-resume-expeience> -->
  </div>
</section>
<br />
<br />
<br />

<section id="Project">
  <h3>Project</h3>
  <div class="item-ul-li">
    <ul *ngFor="let item of getInfoResume.project; let i = index">
      <li>
        <a (click)="onModifyProject(i)">{{ item.project_name }}</a>
        <button class="btn btn-danger float-right" (click)="onDeleteProject(i)">
          <i class="fa fa-trash"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="item">
    <button
      class="btn btn-outline-primary"
      (click)="onAddProject()"
      style="display: flex"
    >
      <i class="material-icons"> add </i>Project
    </button>

    <!-- <app-modal-resume-project
      (saveClick)="onSaveProject($event)"
    ></app-modal-resume-project> -->
  </div>
</section>
<br />
<br />
<br />

<section id="Education">
  <h3>Education</h3>
  <div class="item-ul-li">
    <ul *ngFor="let item of getInfoResume.education; let i = index">
      <li>
        <div class="school-date">
          <a (click)="onModifyEducation(i)">{{ item.school_name }}</a>
          <p>{{ item.major }}</p>
        </div>

        <button
          class="btn btn-danger float-right"
          (click)="onDeleteEducation(i)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </li>
    </ul>
  </div>

  <div class="item">
    <button
      class="btn btn-outline-primary"
      (click)="onAddEducation()"
      style="display: flex"
    >
      <i class="material-icons"> add </i>Education
    </button>
    <!-- <app-modal-resume-education
      (saveClick)="onSaveEducation($event)"
    ></app-modal-resume-education> -->
  </div>
</section>
<br />
<br />
<br />

<section id="Skill">
  <h3>Skill</h3>
  <div class="item-ul-li">
    <ul *ngFor="let item of getInfoResume.skil">
      <li class="list-item">
        <mat-form-field>
          <input matInput />
        </mat-form-field>
        <div class="list-item-button">
          <button class="btn btn-primary"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="item">
    <button class="btn btn-primary preview" style="display:flex">
      <i class="material-icons">
        add
      </i>
      Skill
    </button>
  </div>
</section>
<br />
<br />
<br />
