<div class="logo">
  <img src="https://cdn.itviec.com/employers/athena-studio/logo/s65/mHk6HuAgK39P7yE9yvtVYkcr/athena-studio-logo.png"
    alt="image" />
</div>
<div class="content">
  <div class="title">
    <a [routerLink]="['../../../job-description', email, jobDescription._id]">{{ jobDescription.title }}</a>
  </div>
  <div class="salary">
    <span>{{jobDescription.salary}}</span>
  </div>
  <div class="job-description">
    <div class="list-hightlight">

    </div>
    <div class="description-hidden">
      <p>{{jobDescription.description}}</p>
    </div>
  </div>
</div>
<div class="city-and-info">
  <div class="city">{{jobDescription.city}}</div>
  <div class="created">{{jobDescription.created}}</div>
  <div class="delete-update">
    <button class="btn btn-danger" (click)="onDelete()">
      <i class="material-icons">delete</i>
    </button>
    <button class="btn btn-info" (click)="onUpdate()">
      <i class="material-icons">edit</i>
    </button>
  </div>
</div>
