<div class="logo">
  <img [src]="articleImageURL" alt="Company Logo" />
</div>
<div class="content">
  <div class="title">
    <a [routerLink]="['/job-description', email, jobDescription._id]">{{
      jobDescription.title
    }}</a>
  </div>
  <div class="salary">
    <span>{{ jobDescription.salary }}</span>
  </div>
  <div class="job-description">
    <div class="list-hightlight"></div>
    <div class="description-hidden" [innerHTML]="jobDescription.description"></div>
  </div>
  <div class="tag-view" style="display: flex;flex-wrap: wrap;">
    <app-tag-frame *ngFor="let item of jobDescription.tags" [tag]="item"></app-tag-frame>
  </div>
</div>
<div class="city-and-info">

  <div class="city">{{ jobDescription.city }}</div>
  <div class="created">{{ jobDescription.created }}</div>
</div>