<div class="logo" *ngIf="this.recruiter">
  <img [src]="this.recruiter.image_url" alt="Company Logo" />
</div>
<div class="content" *ngIf="this.recruiter">
  <div class="title">
    <a [routerLink]="['/job-description', email, jobDescription._id]">{{
      jobDescription.title
    }}</a>
  </div>
  <div class="salary">
    <div *ngIf="!isAuthenticated">Login to see details</div>
    <div *ngIf="isAuthenticated">
      <i class="material-icons" style="font-size: 16px">
        attach_money
      </i>
      {{ jobDescription.salary }}
    </div>
  </div>
  <div class="job-description">
    <div class="list-hightlight"></div>
    <div
      class="description-hidden"
      [innerHTML]="jobDescription.description"
    ></div>
  </div>
  <div class="tag-view" style="display: flex;flex-wrap: wrap;">
    <app-tag-frame
      *ngFor="let item of jobDescription.tags"
      [tag]="item"
    ></app-tag-frame>
  </div>
</div>
<div
  class="city-and-info"
  *ngIf="this.recruiter"
  style="color: rgba(126, 126, 126, 0.842)"
>
  <div class="created" style="font-size: small">
    {{ jobDescription.created_at | date }}
  </div>
  <div class="city">
    {{ this.recruiter.city }}
  </div>
</div>
