:host {
  .img-round {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    > img {
      position: absolute;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  mat-form-field {
    width: 97%;
    margin: 0px 10px;
  }

  .modal-body {
    height: 71vh;
    overflow: scroll;
  }

  .example-container {
    display: flex;
    flex-direction: column;

    >* {
      width: 100%;
    }

    .half-dialog {
      justify-content: space-between;

      mat-form-field {
        width: 47%;
        margin: 0px 10px;
      }
    }
  }


}
