<button
  type="button"
  class="btn btn-primary"
  data-backdrop="true"
  data-toggle="modal"
  data-target="#exampleModal"
  style="display: flex"
>
  <i class="material-icons">
    edit
  </i>
  Edit profile
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-3"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="img-round">
            <img
              mat-card-image
              [src]="candidate.image_url"
              alt="avatar"
              (click)="filePicker.click()"
            />
            <input
              style="display: none;"
              type="file"
              #filePicker
              (change)="onImagePicked($event)"
            />
          </div>
        </div>
        <div class="example-container">
          <div class="name half-dialog">
            <mat-form-field>
              <input
                matInput
                placeholder="Full name"
                [(ngModel)]="candidate.full_name"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Display name"
                [(ngModel)]="candidate.display_name"
              />
            </mat-form-field>
          </div>
          <div class="contact half-dialog">
            <mat-form-field>
              <input
                matInput
                placeholder="Phone"
                [(ngModel)]="candidate.phone"
              />
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                [disabled]="true"
                [(ngModel)]="candidate.email"
              />
            </mat-form-field>
          </div>
          <div class="example-container">
            <div class="name half-dialog">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Github URL"
                  [(ngModel)]="candidate.github"
                />
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Linkedin URL"
                  [(ngModel)]="candidate.linkedin"
                />
              </mat-form-field>
            </div>
            <div class="title">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Job titile"
                  [(ngModel)]="candidate.resume.title"
                />
              </mat-form-field>
            </div>

            <div class="summary">
              <mat-form-field>
                <textarea
                  matInput
                  placeholder="Summary about your self"
                  [(ngModel)]="candidate.resume.summary"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="onSave()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
