<div id="login-form" class="login-theme">
  <!-- Sign in -->
  <form (submit)="onSignIn(signInForm)" #signInForm="ngForm">
    <header>
      <h1>Login with Account</h1>
    </header>
    <a
      id="btn-login-google"
      style="width:100%"
      routerLink="../register/recruiter"
      class="btn btn-default"
      ><span
        ><img src="../../assets/images/google-icon.png" alt="Google-icon"
      /></span>
      Create Employer account</a
    >
    <br /><br />
    <mat-form-field>
      <input
        matInput
        id="email"
        name="email"
        placeholder="Email"
        [(ngModel)]="loginParams.email"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="password"
        placeholder="Password"
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="loginParams.password"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
    <mat-dialog-actions>
      <button
        *ngIf="!isLoading_logIn"
        mat-button
        type="submit"
        class="mat-raised-button mat-primary"
        cdkFocusInitial
      >
        Login
      </button>
    </mat-dialog-actions>
  </form>
  <div class="create-account">
    <a routerLink="../register/candidate">Don't have account?</a>
  </div>
</div>
