<div class="job-description" *ngIf="articleInfo && recruiterInfo">
  <div class="container" style="margin-top: 10px">
    <div class="row">
      <div class="side_bar col-md-3" style="text-align: center;height: 500px;">
        <div class="logo">
          <a [routerLink]="['/company', recruiterInfo.email]"
            ><img alt="Logo" [src]="recruiterInfo.image_url" />
          </a>
        </div>
        <div class="employer-info">
          <div class="name">
            <div class="company-name">
              <a [routerLink]="['/company', recruiterInfo.email]">
                <p>{{ recruiterInfo.company_name }}</p>
              </a>
            </div>
          </div>
          <div class="basic-info">
            <div class="short-info">
              {{ recruiterInfo.slogan }}
            </div>
            <p class="gear-icon short">
              <i class="fas fa-cogs"></i>{{recruiterInfo.production}}
            </p>
            <p class="group-icon short">
              <i class="fas fa-users"></i>{{recruiterInfo.employees}}
            </p>
            <div class="country-icon short">
              <i class="far fa-flag"></i>&nbsp;&nbsp;
              <span class="country-name">{{recruiterInfo.city}}</span>
            </div>
            <div class="working-date short">
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;
              <span>{{recruiterInfo.day_at_work}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 job-detail">
        <div class="header">
          <div class="job-info">
            <h1 class="job-title">
              {{ articleInfo.title }}
            </h1>
            <div style="float: right;margin-right: 20px">
              <button type="button" class="btn btn-danger font-weight-bold" (click)="onApply()">
                Apply Now
              </button>
            </div>
            <div class="job-info-detail">
              Salary:&nbsp;<span>{{ articleInfo.salary }}</span>
            </div>
            <div class="job-info-detail">
              Address:&nbsp;<span>{{recruiterInfo.address}}</span>
            </div>
            <div class="job-info-detail">
              Date:&nbsp;<span>{{
                articleInfo.created_at | date: "dd/MM/yyyy"
              }}</span>
            </div>
          </div>
        </div>
        <div class="job-more-info" [innerHTML]="articleInfo.description"></div>
      </div>
    </div>
  </div>
</div>
