<!-- contact -->
<div id="contact-area" class="text-center section">
  <h2>
    <strong>{{ previewCandidate.full_name }}</strong>
  </h2>
  <h5 class="resume-title">{{ previewResume.title }}</h5>
  <p>{{ previewCandidate.phone }}</p>
  <p>{{ previewCandidate.email }}</p>
</div>

<!-- summary -->
<div
  id="summary-area"
  *ngIf="previewResume.summary && previewResume.summary.length"
>
  <h5><strong>Summary</strong></h5>
  <div class="summary-item">
    <p>{{ previewResume.summary }}</p>
  </div>
</div>
