<app-alert></app-alert>
<div class="recruiter" *ngIf="recruiter">
  <div class="container-fluid">
    <div class="col-md-2">
      <nav class="side-bar">
        <div class="image">
          <img [src]="recruiter.image_url" alt="" />
        </div>
        <div class="name">
          <a routerLink="./profile">{{ recruiter.company_name }}</a>
        </div>
        <div class="navigation">
          <ul>
            <li>
              <a routerLink="./dashboard"
                ><i class="material-icons"> dashboard </i>Dashboard</a
              >
            </li>
            <li>
              <a routerLink="./create-post"
                ><i class="material-icons"> create </i>Create post</a
              >
            </li>
            <li>
              <a routerLink="./review"
                ><i class="material-icons"> rate_review </i>Review</a
              >
            </li>
            <li>
              <a routerLink="./subcriber"
                ><i class="material-icons"> subscriptions </i>Subcribed</a
              >
            </li>
            <li>
              <a routerLink="."><i class="material-icons"> search </i>Search</a>
            </li>
            <li>
              <a routerLink="./overview"
                ><i class="material-icons"> account_circle </i>Overview</a
              >
            </li>
            <li>
              <a routerLink="/login" (click)="onLogOut()"
                ><i class="material-icons"> power_settings_new </i>Log out</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="content col-md-7">
      <router-outlet></router-outlet>
    </div>
    <div class="right-bar col-md-3">
      <a routerLink="./profile" style="text-decoration: none">
        <button class="btn btn-outline-secondary" style="display: flex">
          <i class="material-icons"> edit </i>Edit profile
        </button>
      </a>
      <h3>Infomation:</h3>
      <div class="recruiter-info">
        <span>
          <i class="material-icons">
            email
          </i>
          {{ recruiter.email }}
        </span>
        <span>
          <i class="material-icons">
            web
          </i>
          {{ recruiter.website }}
        </span>
        <span>
          <i class="material-icons">
            phone
          </i>
          {{ recruiter.phone }}
        </span>
        <span>
          <i class="material-icons">
            business
          </i>
          {{ recruiter.address }}
        </span>
        <span>
          <i class="material-icons">
            people
          </i>
          {{ recruiter.employees }}
        </span>
        <span>
          <i class="material-icons">
            location_city
          </i>
          {{ recruiter.city }}
        </span>
        <span>
          <i class="material-icons">
            settings
          </i>
          {{ recruiter.production }}
        </span>
        <span>
          <i class="material-icons">
            calendar_today
          </i>
          {{ recruiter.day_at_work }}
        </span>
      </div>
    </div>
  </div>
</div>
