<div class="header">
  <h2 mat-dialog-title>Edit profile</h2>
  <i class="material-icons">
    close
  </i>
</div>

<mat-dialog-content [formGroup]="form" (submit)="onSubmitEditProfileDialog()">
  <div class="avatar">
    <img src="../../../../assets/images/tho-bay-mau-28.png" alt="">
  </div>
  <div class="name half-dialog">
    <mat-form-field>
      <input matInput placeholder="Full name" formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Display name" formControlName="description">
    </mat-form-field>
  </div>

  <div class="contact half-dialog">
    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="description">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="description">
    </mat-form-field>
  </div>

  <div class="title">
    <mat-form-field>
      <input matInput placeholder="Job titile" formControlName="description">
    </mat-form-field>
  </div>

  <div class="education">
    <mat-form-field>
      <input matInput placeholder="Education" formControlName="description">
    </mat-form-field>
  </div>

  <div class="online-contact">
    <mat-form-field>
      <input matInput placeholder="Own website" formControlName="description">
    </mat-form-field>
  </div>

  <div class="summary">
    <mat-form-field>
      <textarea matInput placeholder="Summary about your self"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Update profile</button>
</mat-dialog-actions>
