<mat-toolbar class="mat-elevation-z6 mat-top-bar" color="primary">
  <span
    ><a mat-button="" aria-label="Angular Material" class="docs-button"
      ><span class="mat-button-wrapper"
        ><img
          alt="angular"
          class="docs-angular-logo"
          src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
        /><span>Mean Stack</span></span
      >
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="">All Jobs</a>
      <a mat-button routerLink="">Create CV</a>
      <a mat-button routerLink="">About us</a>
      <a mat-button routerLink="">Login</a>
      <a mat-button routerLink="">Log out</a>
    </li>
  </ul>
</mat-toolbar>
