<mat-toolbar class="mat-elevation-z6 mat-top-bar" color="primary">
  <span
    ><a
      mat-button
      [routerLink]="['all-job']"
      aria-label="Angular Material"
      class="docs-button"
      ><span class="mat-button-wrapper"
        ><img
          alt="angular"
          class="docs-angular-logo"
          src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
        /><span>Mean Stack</span></span
      >
    </a>
  </span>
  <span class="spacer"></span>
  <div></div>
  <div class="content">
    <ul>
      <li *ngIf="isAuthenticated && candidate">
        <a mat-button [routerLink]="['/profile', candidate.email]">
          <span
            ><img
              [src]="candidate.image_url"
              alt="avatar"
              class="docs-angular-logo"
              style="border-radius: 50%"
          /></span>
          {{ candidate.display_name }}</a
        >
      </li>
      <li><a mat-button [routerLink]="['all-job']">All Jobs</a></li>
      <li><a mat-button [routerLink]="['companies']">Companies</a></li>
      <li *ngIf="isAuthenticated && candidate">
        <a mat-button (click)="onCreateCV()">Update CV</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a mat-button [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="isAuthenticated && candidate">
        <a mat-button [routerLink]="['/login']" (click)="onLogOut()">Log out</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
