<mat-toolbar class="mat-elevation-z6 mat-top-bar" color="primary">
  <span
    ><a mat-button="" aria-label="Angular Material" class="docs-button"
      ><span class="mat-button-wrapper"
        ><img
          alt="angular"
          class="docs-angular-logo"
          src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
        /><span>Mean Stack</span></span
      >
    </a>
  </span>
  <span class="spacer"></span>
  <div></div>
  <div class="content">
    <ul>
      <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/profile">My profile</a></li>
      <li><a mat-button routerLink="/alljob">All Jobs</a></li>
      <li><a mat-button routerLink="/search-company">Companies</a></li>
      <li *ngIf="userIsAuthenticated"><a mat-button routerLink="">Create CV</a></li>
      <li><a mat-button routerLink="">About us</a></li>
      <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/login">Login</a></li>
      <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/login" (click)="onLogOut()">Log out</a></li>
    </ul>
  </div>
</mat-toolbar>
