:host {
  .post-review {
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    margin-bottom: 10px;

    .created {
      font-size: 12px;
    }
  }
  .rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
  }

  .rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
  }

  .rating:not(:checked) > label:before {
    // content: "★ ";
    content: "\f005"; /* Star */
    font-family: FontAwesome;
  }

  .rating > input:checked ~ label {
    color: #1e88e5;
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #bbdefb;
  }

  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #64b5f6;
  }
}
