:host {
  .post-review {
    //border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    margin-bottom: 10px;

    .created {
      font-size: 12px;
      color: rgba(82, 82, 82, 0.918);
    }
  }
  span.stars,
  span.stars span {
    display: block;
    /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url("../../../assets/images/star.png") 0 -20px repeat-x;
    width: 100px;
    height: 20px;
  }

  span.stars span {
    background-position: 0 0;
  }

  .alignright {
    float: right;
  }
}
