<section id="Contact">
  <h3>Contact Infomation</h3>
  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Your name">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
  </div>

  <div class="item" id="Summary">
    <mat-form-field>
      <textarea matInput placeholder="Summary"></textarea>
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Phone number">
    </mat-form-field>
  </div>

  <!-- <div class="item">
      <mat-form-field>
        <input disabled matInput placeholder="Email" value="{{user$.email}}" [(ngModel)]="user$.email">
      </mat-form-field>
    </div> -->

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Github URL">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="LinkedIn URL">
    </mat-form-field>
  </div>

  <div class="item">
    <mat-form-field>
      <input matInput placeholder="Personal Webpage">
    </mat-form-field>
  </div>
</section>
<br>

<section id="Experience">
  <h3>Experience</h3>
  <div class="item-ul-li">
    <ul>
      <li>
        <div>
          <a [routerLink]="xxx"></a>
          <p></p>
        </div>
        <button class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Experience">
  </div>
</section>
<br>
<br>
<br>


<section id="Project">
  <h3>Project</h3>
  <div class="item-ul-li">
    <ul>
      <li>
        <a [routerLink]="xxx"></a>
        <button class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Project">
  </div>
</section>
<br>
<br>
<br>

<section id="Education">
  <h3>Education</h3>
  <div class="item-ul-li">
    <ul>
      <li>

        <div class="school-date">
          <a [routerLink]="xxx"></a>
          <p></p>
        </div>

        <button class="btn btn-danger float-right"><i class="fa fa-trash"></i></button>
      </li>
    </ul>
  </div>

  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Educational">
  </div>
</section>
<br>
<br>
<br>


<section id="Skill">
  <h3>Skill</h3>
  <div class="item-ul-li">
    <ul>
      <li class="list-item">
        <mat-form-field>
          <input matInput>
        </mat-form-field>
        <div class="list-item-button">
          <button class="btn btn-primary"><i class="fa fa-check"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </div>
      </li>
    </ul>
  </div>
  <div class="item">
    <input type="button" class="btn btn-primary preview" value="Add Another Skill">
  </div>
</section>
<br>
<br>
<br>
