:host{
  .tag{
    color: rgb(44, 44, 44);
    border-radius: 12px;
    width: fit-content;
    padding: 10px;
    margin: 0 7px 7px 0;
    background-color: rgb(218, 216, 216);
  }
  .delete-button{
    float: right;
  }
  .delete{
    left: 11px;
    top: -13px;
  }
  i{
    border: 1px solid;
    border-radius: 50%;
    color: white;
    background: black;
  }
}
