:host {
  mat-form-field {
    width: 97%;
    margin: 0px 10px;
  }
  .mat-date {
    mat-form-field {
      width: 170px;
    }
    display: flex;
    flex-direction: row;
  }
  .modal-body {
    height: 71vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .example-container {
    display: flex;
    flex-direction: column;

    > * {
      width: 100%;
    }

    .half-dialog {
      justify-content: space-between;

      mat-form-field {
        width: 47%;
        margin: 0px 10px;
      }
    }
  }
}
