<div class="job-description" *ngIf="recruiter" style=" background: #e9e9e9;">
  <div class="container">
    <div
      class="row job-des-header"
      style="border: 1px solid #d8d8d8;background-color: #fff "
    >
      <div class="cover-images-desktop">
        <div class="logo">
          <img
            width="100%"
            alt="FPT Software Headline Photo"
            [src]="imageURL_company"
          />
        </div>
      </div>
      <div class="company-info">
        <div class="logo">
          <a routerLink=""><img alt="Logo" [src]="recruiter.image_url" /> </a>
        </div>
        <div class="employer-info">
          <div style="float: right;padding: 50px 50px;">
            <button
              type="button"
              class="btn-format btn btn-danger"
              (click)="onReview()"
              *ngIf="isAuthenticated"
            >
              Add a review
            </button>
          </div>
          <div class="name">
            <div class="company-name">
              <h3>
                <p>{{ recruiter.company_name }}</p>
              </h3>
            </div>
          </div>
          <div class="basic-info">
            <div class="city-icon short">
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;{{
                recruiter.city
              }}
            </div>
            <div class="country-icon short" style="display: flex">
              <i class="far fa-flag"></i>&nbsp;&nbsp;Viet Nam
              <p class="gear-icon short">
                <i class="fas fa-cogs"></i>&nbsp;&nbsp;{{
                  recruiter.production
                }}
              </p>
              <p class="group-icon short">
                <i class="fas fa-users"></i>&nbsp;&nbsp;{{
                  recruiter.employees
                }}
              </p>
            </div>

            <div class="working-date short">
              <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{
                recruiter.day_at_work
              }}
            </div>

            <div class="working-date short">
              <i class="far fa-envelope"></i>&nbsp;&nbsp;{{
                recruiter.email
              }}
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row company-container">
      <div class="col-md-8" style="padding-left:0px ">
        <div style="background: #fff; padding: 0 10px">
          <mat-tab-group>
            <mat-tab label="Overview">
              <div [innerHTML]="recruiter.overview"></div>
            </mat-tab>
            <mat-tab label="Review ({{reviews.length}})">
              <h2>Review company</h2>
              <div *ngIf="reviews.length === 0">
                <p>We haven't have any reviews, please give us some reviews!</p>
                <button
                  type="button"
                  class="btn-format btn btn-danger"
                  (click)="onReview()"
                  *ngIf="isAuthenticated"
                >
                  Add a review
                </button>
              </div>
              <div class="panel-body" *ngFor="let item of reviews">
                <app-recruiter-review-post
                  [review]="item"
                ></app-recruiter-review-post>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div style="margin: 10px 0 0 0">
          <div style="background: #fff; padding: 0 10px">
            <h1>Jobs</h1>
            <div class="other-jobs" *ngIf="articles">
              <div *ngFor="let item of articles">
                <app-job-frame-dashboard
                  [jobDescription]="item"
                  [email]="item.email_company"
                ></app-job-frame-dashboard>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div
            class="panel panel-default company-right company-ratings"
            style="border: 1px solid #d8d8d8;background-color: #fff;width: 100%"
          >
            <div class="panel-heading">
              <h4 class="panel-title">Ratings</h4>
            </div>
            <div class="panel-body" *ngIf="avarageRating">
              <app-recruiter-review-rating
                [rating]="avarageRating"
              ></app-recruiter-review-rating>
            </div>
          </div>
          <div
            class="panel panel-default company-right feature-reviews"
            style="border: 1px solid #d8d8d8;background-color: #fff;width: 100%"
          >
            <div class="panel-heading">
              <h4 class="panel-title">Feature Reviews</h4>
            </div>
            <div *ngIf="reviews.length === 0">
              <button
                type="button"
                class="btn-format btn btn-danger"
                (click)="onReview()"
                *ngIf="isAuthenticated"
              >
                Add a review
              </button>
            </div>
            <div class="panel-body" *ngFor="let item of reviews">
              <app-recruiter-review-post
                [review]="item"
              ></app-recruiter-review-post>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
