<img
  src="../../../../../assets/templates/Default.PNG"
  alt="Default"
  style="-webkit-filter: brightness(100%)"
/>
<img src="../../../../../assets/templates/Blue-1.PNG" alt="Default" />
<img src="../../../../../assets/templates/Design.PNG" alt="Default" />
<img src="../../../../../assets/templates/Design-blue-01.PNG" alt="Default" />
<img src="../../../../../assets/templates/Design-red-01.PNG" alt="Default" />
<img src="../../../../../assets/templates/Design-blue.PNG" alt="Default" />
<img
  src="../../../../../assets/templates/Default.PNG"
  alt="Default"
/>
