<div *ngIf="recruiter">
  <div>
    <div class="img-round">
      <img
        mat-card-image
        [src]="recruiter.image_url"
        alt="avatar"
        (click)="filePicker.click()"
      />
      <input
        style="display: none;"
        type="file"
        #filePicker
        (change)="onImagePicked($event)"
      />
    </div>
  </div>
  <div class="example-container" *ngIf="recruiter">
    <div class="name half-dialog">
      <mat-form-field>
        <input
          matInput
          [disabled]="true"
          placeholder="Email"
          [(ngModel)]="recruiter.email"
        />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="recruiter.address" />
      </mat-form-field>
    </div>

    <div class="contact half-dialog">
      <mat-form-field>
        <input matInput placeholder="Phone" [(ngModel)]="recruiter.phone" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>City</mat-label>
        <mat-select
          placeholder="City"
          (selectionChange)="onChangeCity($event.value)"
        >
          <mat-option *ngFor="let item of citySelections" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="contact half-dialog">
      <mat-form-field>
        <input matInput placeholder="Website" [(ngModel)]="recruiter.website" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Employees</mat-label>
        <mat-select
          placeholder="Employees number"
          (selectionChange)="onChangeEmployeesNumber($event.value)"
        >
          <mat-option *ngFor="let item of employeeSelections" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="contact half-dialog">
      <mat-form-field>
        <mat-label>Production of company</mat-label>
        <mat-select (selectionChange)="onChangeProdction($event.value)">
          <mat-option *ngFor="let item of productionSelections" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Day at work</mat-label>
        <mat-select (selectionChange)="onChangeDayAtWork($event.value)">
          <mat-option *ngFor="let item of dayAtWorkSelections" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field>
        <input matInput placeholder="Slogan" [(ngModel)]="recruiter.slogan" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="overview">Overview</label>
      <ckeditor [editor]="Editor" [(ngModel)]="recruiter.overview"></ckeditor>
    </div>
  </div>
  <div>
    <mat-spinner
      *ngIf="isLoading"
      style="margin:auto;"
      [diameter]="40"
    ></mat-spinner>
    <button
      *ngIf="!isLoading"
      type="button"
      class="btn btn-outline-info"
      data-dismiss="modal"
      (click)="onSave()"
      style="display: flex"
    >
      <i class="material-icons">
        save
      </i>
      Save changes
    </button>
  </div>
</div>
