<div>
  <div>
    <div class="img-round">
      <img
              mat-card-image
              [src]="recruiter.image_url"
              alt="avatar"
              (click)="filePicker.click()"
            />
            <input style="display: none;" type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
  </div>
  <div class="example-container">
    <div class="name half-dialog">
      <mat-form-field>
        <input matInput [disabled]=true placeholder="Email" [(ngModel)]="recruiter.email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="recruiter.address"/>
      </mat-form-field>
    </div>

    <div class="contact half-dialog">
      <mat-form-field>
        <input matInput placeholder="Phone" [(ngModel)]="recruiter.phone"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="City" [(ngModel)]="recruiter.city" />
      </mat-form-field>
    </div>
    <div class="contact half-dialog">
      <mat-form-field>
        <input matInput placeholder="Website" [(ngModel)]="recruiter.website"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Employees" [(ngModel)]="recruiter.employees"/>
      </mat-form-field>
    </div>
    <div class="contact half-dialog">
      <mat-form-field>
        <input matInput placeholder="Production" [(ngModel)]="recruiter.production"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Date at work"[(ngModel)]="recruiter.day_at_work" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="overview">Overview</label>
      <ckeditor [editor]="Editor" [(ngModel)]="recruiter.overview"></ckeditor>
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    data-dismiss="modal"
    (click)="onSave()"
  >
    Save changes
  </button>
</div>
