<h2 mat-dialog-title>Preview article</h2>

<mat-dialog-content>
  <div class="dialog-body">
    <div class="title">
      <h3>{{ article.title }}</h3>
    </div>
    <div class="date">
      <p>{{ article.created_at | date }}</p>
    </div>
    <div class="tags">
      <div *ngFor="let item of article.tags">
        <app-tag-frame [tag]="item"></app-tag-frame>
      </div>
    </div>
    <div [innerHTML]="article.description"></div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
