<div class="layout">
  <div style="height: 50px"></div>
  <div class="tool-bar">
    <app-tool-bar [resume]="resume"></app-tool-bar>
  </div>
  <div class="content">
    <div class="app-get-info">
      <app-get-info
        [getInfoResume]="resume"
        [getInfoCandidate]="candidate"
      ></app-get-info>
    </div>
    <div class="content-cv">
      <div class="header-preview">
        <h4>Preview</h4>
      </div>
      <div class="preview-cv">
        <div class="cv">
          <app-preview-cv
            [previewResume]="resume"
            [previewCandidate]="candidate"
          ></app-preview-cv>
        </div>
      </div>
    </div>
    <div class="template-selecttion">
      <app-template-selection></app-template-selection>
    </div>
  </div>
</div>
