<button
  type="button"
  class="btn btn-primary"
  style="display:flex"
  data-backdrop="true"
  data-toggle="modal"
  data-target="#projectModal"
  (click)="onOpenModal()"
>
  <i class="material-icons">
    add
  </i>
  Project
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="projectModal"
  tabindex="-3"
  role="dialog"
  aria-labelledby="projectModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel">
          Edit your project you have done
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="example-container">
          <div class="name">
            <mat-form-field>
              <input
                matInput
                placeholder="Project name"
                [(ngModel)]="project.project_name"
              />
            </mat-form-field>
          </div>

          <mat-checkbox style="margin: 0 10px">Current</mat-checkbox>

          <div class="mat-date">
            <mat-form-field>
              <input
                matInput
                placeholder="Start month"
                [(ngModel)]="project.start_month"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Start Year"
                [(ngModel)]="project.start_year"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="End Month"
                [(ngModel)]="project.end_month"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="End Year"
                [(ngModel)]="project.end_year"
              />
            </mat-form-field>
          </div>

          <div class="description">
            <mat-form-field>
              <textarea
                rows="6"
                matInput
                placeholder="Description of your job"
                [(ngModel)]="project.description"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="onSave()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
