<div class="card">
  <img
    class="img-cover"
    [src]="randomCover"
    alt="cover img"
    style="width: 15rem;"
    *ngIf="randomCover"
  />

  <div class="company-logo">
    <img
      [src]="company.image_url"
      alt="Card image cap"
      style="padding: 5px; width: 100%; height: 100%"
    />
  </div>
  <div class="card-body" style="text-align: center">
    <div class="card-title">
      <a
        [routerLink]="['/company', company.email]"
        style="text-align: center; text-decoration: none; font-size: 25px; font-weight: 600;"
      >
        {{ company.company_name }}
      </a>
    </div>
    <div class="card-slogan">
      {{ company.slogan }}
    </div>
  </div>
  <div
    class="city"
    *ngIf="company.city"
    style="margin-left: 10px; color: rgb(78, 76, 76) "
  >
    {{ company.city }}
  </div>
  <div class="job-length" style="color: red">
    <span
      >{{ articles.length }} jobs
      <i class="material-icons">
        keyboard_arrow_right
      </i></span
    >
  </div>
</div>
