<div class="card" style="width: 15rem;">
  <img class="card-img-top" [src]="company.image_url" alt="Card image cap" />
  <div class="card-body" style="text-align: center">
    <h5 class="card-title" style="text-align: center">
      {{ company.company_name }}
    </h5>
    <a [routerLink]="['/company', company.email]" class="btn btn-primary"
      >Go to {{ company.company_name }}</a
    >
  </div>
  <div class="job-length">
    <span
      >{{ articles.length }} jobs
      <i class="material-icons">
        keyboard_arrow_right
      </i></span
    >
  </div>
</div>
