<h3>Create new post</h3>
<div>
  <div class="form-group">
    <label>Tittle</label>
    <input
      type="text"
      [(ngModel)]="articleParams.title"
      name="title"
      class="form-control"
      placeholder="Tittle"
    />
  </div>
  <div>
    <label>Tag</label>
    <div class="add-tag" style="display: flex">
      <form
        class="auto-filter"
        (ngSubmit)="onAddTag(searchTagForm)"
        #searchTagForm="ngForm"
        style="display: flex"
      >
        <mat-form-field>
          <div style="display: flex">
            <input
              type="text"
              matInput
              [formControl]="tagContent"
              [matAutocomplete]="auto"
              placeholder="Tag (ex: AngularJS)"
            />
          </div>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
              <span> {{ option | titlecase }} </span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-dialog-actions>
          <button
            mat-button
            type="submit"
            class="mat-raised-button mat-primary"
            cdkFocusInitial
            style="display: flex"
          >
            <i class="material-icons">
              local_offer
            </i>
            Tag
          </button>
          <!-- This button is for testing -->
          <!-- <button class="btn btn-danger" (click)="autoTag()">
            <i class="material-icons">
              local_offer </i
            >Auto tag
          </button> -->
        </mat-dialog-actions>
      </form>
    </div>
  </div>
  <div class="tag-area">
    <div *ngFor="let item of articleParams.tags">
      <app-tag-frame [tag]="item"></app-tag-frame>
    </div>
  </div>
  <div>
    <label for="exampleInputEmail1">Salary</label>
    <input
      type="text"
      [(ngModel)]="articleParams.salary"
      name="salary"
      class="form-control"
      placeholder="Salary"
    />
  </div>
  <br />
  <div class="form-group">
    <label for="jobDescription">Job description</label>
    <ckeditor
      [(ngModel)]="articleParams.description"
      name="description"
      [editor]="Editor"
    ></ckeditor>
  </div>
  <button
    *ngIf="!queryParams.edit"
    type="submit"
    class="btn btn-outline-info"
    (click)="onCreatePost()"
    style="display: flex"
  >
    <i class="material-icons">
      description
    </i>
    Create post
  </button>
  <button
    *ngIf="queryParams.edit"
    type="submit"
    class="btn btn-outline-success"
    (click)="onUpdatePost()"
    style="display: flex"
  >
    <i class="material-icons">
      description
    </i>
    Update post
  </button>
</div>
